.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  background-color: #293133;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #293133;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background-color: #f0f0f0;
  width: 240px;
  margin-bottom: 5px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
}

.next {
  display: flex;
  flex-direction: row;
}

.back {
  width: 235px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.App-back {
  background-color: #f0f0f0;
  width: 480px;
  margin-bottom: 5px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
}

.article {
  word-break: break-all;
  align-self: center;
  font-size: 1rem;
  white-space: pre;
  text-overflow: ellipsis;
  text-align: justify;
  word-wrap: break-word;
  width: 80%;
}

ul {
  list-style: none;
  padding-left: 0;
}
